export AMQP_CONN_STRING="amqp://guest:guest@localhost"
export ES_HOSTS="localhost:9200"
export ELASTICSEARCH_HOSTS="localhost:9200"
export RABBITMQ_HOSTS="amqp://guest:guest@localhost"
export EPICDB_RECORDER_POOL=10
export EPICDB_RECORDER_POOL_OVERFLOW=90
